@import url('https://fonts.googleapis.com/css2? family= PT+Sans:ital@1 & family= Patrick+Hand & family= Roboto:ital,wght@0,700;1,500 & display= troca');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:  rgb(163, 239, 211);
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
  color: black;
  height: 100vh;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
  width: 100%;

}

#logo {
width: 400px;
}

header h1{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 20px;
}

#inicio{
  color:black;
  background-color:rgb(152, 246, 211);
  display: inline-block;
  transform: skewX(-10deg);
  font-size: 50px;
  padding: 20px;
}

#fim{
  color:rgb(3, 107, 82);
  font-size: 50px;
  padding: 20px;
  background-color:rgb(152, 246, 211);
  display: inline-block;
  transform: rotate(5deg);
}

#instrucao {
  margin-bottom: 50px;
  font-size: 3rem;
}

#textToTranscription{
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px  rgb(62, 66, 75);
  width: 1000px;
  font-size: 20px;
  text-align: start;
}

button {
  margin: 50px 25px;
  width: 10rem;
  font-size: 2rem;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px  rgb(62, 66, 75);
  background-color: rgb(3, 107, 82);
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
button:hover {
  background-color: rgb(138, 206, 190);
}

footer{
  width: 100%;
  background-color: rgb(225, 229, 235);
  padding: 50px 0;
  font-size: 1.5rem;
  color:rgb(3, 107, 82);
  text-shadow:  1px 2px 1px rgb(62, 66, 75);
}

#p1 {
  font-size: 2rem;
  margin-bottom: 50px ;
}
footer div {
  display: flex;
 justify-content: space-around;
}
